:root{
    --dark-brown: hsl(23, 17%, 36%);
    --light-brown: hsl(26, 28%, 53%);
    --dark-green: hwb(76 47% 25%);
    --light-green: hsl(70, 47%, 81%);
    --very-light-green: hsl(48, 50%, 88%);
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: var(--very-light-green);
    .forms-container {
        display: flex;
        gap: 4em;
        form{
            color: var(--dark-brown);
            background-color: var(--light-green);
            padding: 2em;
            border: 2px solid var(--dark-brown);
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            text-align: center;
            .email {
                display: flex;
                gap: .5em;
            }
            .password {
                display: flex;
                gap: .5em;
            }
            label{
                font-size: 1.2rem;
                user-select: none;
            }
            input,input:focus{
                outline: none;
                width: 100%;
                border: none;
                border-bottom: 2px solid var(--dark-brown);
                border-radius: .5em;
                padding-left: 1.2em;
            }
            button{
                color: var(--dark-brown);
                border: none;
                border-bottom: 2px solid var(--dark-brown);
                border-radius: .5em;
                padding: .3em;
                font-size: 1.2rem;
                background-color: var(--dark-green);
                transition: background-color .25s ease-in-out;
            }
            button:hover{
                cursor: pointer;
                background-color: var(--very-light-green);
            }
        }
    }
}